main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    @media screen {
        table {
            width: 100%;
        }
    }
}
table {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    border: black solid 1px;
    width: 98vw;
    transition: transform;
}
tbody th:hover, td:hover{
    background-color: #e0e0e0;
}

thead {
    background-color: #9795e6;
    color: #333333;
    text-align: center;
    border: black solid 1px;
}
thead th{
    padding: 10px 20px;
    border: black solid 1px;
}

tbody tr:nth-child(even){
    background-color: #f2f2f2;
    color: #333333;
    border: black solid 1px;
}
tbody tr:nth-child(odd) {
    background-color: white;
    color: #333333;
    border: black solid 1px;
}

#bl{
    text-align: center;
    padding: 10px 20px;
    border: black solid 1px;
}

tfoot {
    background-color: #c95a69;
    color: #333333;
}

tbody th{
    padding: 10px 20px;
    text-align: left;
    border: black solid 1px;
}
td {
    padding: 10px 20px;
    border: black solid 1px;
}